/* General */
* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --background-blanc: #FFFFFF;
    --background-gris-fonce: #EAEAEA;
    --background-gris-clair: #F3F3F3;
    --icone-secondaire: #9356dc;
    --icone-primaire: #7E7E7E;
    --footer-gris-sombre: #353535;
    --police-nouveau: #008766;
    --background-nouveau: #99E2D0;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--background-gris-clair);
}

.main-container{
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Header */
#logo {
    max-height: 44px;
    max-width: 162px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 63px;
    background-color: var(--background-blanc);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background-color: var(--background-gris-fonce);
}

.localisation .fa-solid {
    color: #353535;
}

.localisation .fa-lg {
    font-size: 16px;
}

.header-end {
    margin: 0 20px;
    text-align: center;
}

.header-end-color {
    background-color: var(--background-gris-clair);
    width: 100%;
    padding-bottom: 57px;
}

.header-end h1 {
    font-size: 24px;
    padding-top: 39.5px;
    font-weight: 700;
    margin-block: 0;
}

.header-end h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 27px;
}

.header-end button {
    border-radius: 25px;
    background: linear-gradient(175deg, #FF79DA -15%, #9356DC 110%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 0;
    z-index: 2;
    position: relative;
    opacity: 1;
    transition: opacity 0.3s, box-shadow 0.3s;
}

.header-end button:hover {
    cursor: pointer;
    opacity: 0.7;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);;
}

.header-end button div {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 15.5px 21.546px 15.5px 21.546px;
    white-space: nowrap;
}

.header-end a {
    position: relative;
    z-index: 0;
}

.blanc {
    background-color: white;
    border-radius: 25px;
    z-index: 1;
    position: absolute;
    top: -15.5px;
    right: 0;
    left: 0;
    bottom: -15.5px;
}

/* fonctionnement */

.fonctionnement {
    background-color: var(--background-blanc);
    padding: 48px 20px 68px 32.51px;
}

.fonctionnement-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.fonctionnement h3 {
    font-size: 24px;
    font-weight: 700;
    margin-block: 0;
    margin-left: -12.51px;
    margin-bottom: 25px;
}

.fonctionnement-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: var(--background-gris-clair);
    padding-top: 24.19px;
    padding-bottom: 24.19px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.fonctionnement-card:hover .fa-solid {
    color: var(--icone-secondaire);
}

.etape {
    padding: 2.5px 7.455px;
    border-radius: 12px;
    background-color: var(--icone-secondaire);
    margin-left: -12.51px;
    color: var(--background-blanc);
}

.fonctionnement-card .fa-solid {
    color: var(--icone-primaire);
}

.etape-text {
    font-size: 16px;
    font-weight: 500;
}

/* Restaurants */

.restaurants {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 54px 20px 66px 20px;
}

.restaurants h3 {
    font-size: 24px;
    font-weight: 700;
    margin-block: 0;
}

.card-image {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    object-fit: cover;
    height: 67%;
    object-position: 0% 60%;
}

.nouveau {
    position: absolute;
    padding: 6px 12.310px;
    right: 15px;
    top: 15px;
    color: var(--police-nouveau);
    background-color: var(--background-nouveau);
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.restaurants-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.restaurants-card {
    width: 100%;
}

.restaurants-card article {
    position: relative;
}

.card {
    background-color: var(--background-blanc);
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);    text-decoration: none;
    color: black;
    height: 251px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.card-title {
    font-size: 18px;
    font-weight: 700;
    margin-block: 0;
}

.card-txt p {
    margin-block: 0;
    font-size: 17px;
    font-weight: 300;
}

.card-txt {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 13px;
    box-sizing: border-box;
}

.card-content {
    /*height: 33%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 11px;
    padding-bottom: 11px;
}

.title h5, .title p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.favorit {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    top: 200px;
    bottom: auto;  /* Ajustez ces valeurs en fonction de vos besoins */
    right: 60px;
    left: auto;
}

.fa-solid.fa-heart {
    font-size: 22px;
    position: absolute;
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    transition: opacity 0.3s, z-index 0.3s;
    top: 0;
    left: 0;
    cursor: pointer;
}

.fa-solid.fa-heart:hover {
    opacity: 1;
}

.fa-regular.fa-heart {
    position: absolute;
    font-size: 22px;
    opacity: 1;
    transition: opacity 0.3s, z-index 0.3s;
    top: 0;
    left: 0;
}

.fa-regular.fa-heart:hover {
    opacity: 0;
}

.hidden-checkbox {
    display: none;
}

.hidden-checkbox:checked ~ label .fa-regular.fa-heart {
    opacity: 0;
}

.hidden-checkbox:checked ~ label .fa-solid.fa-heart {
    opacity: 1;
}

label {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
}

/* Footer */
footer {
    background-color: var(--footer-gris-sombre);
    padding: 20px;
    margin-top: 40px;
}

.section-footer {
    display: flex;
    justify-content: space-between;
}

svg {
    height: 27px;
    width: 137.58px;
}

.colonne {
    flex: 1;
    margin: 0 10px;
}

.colonne h3 a {
    font-size: 18px;
    color: var(--background-blanc);
    text-decoration: none;
}

.colonne ul {
    list-style: none;
    padding-inline-start: 0px;
}

.colonne ul li {
    margin-bottom: 15px;
}

.colonne ul li a {
    color: var(--background-blanc);
    text-decoration: none;
}

ul li i {
    padding-right: 11px;
}

ul .fa-solid {
    color: var(--background-blanc);
    font-size: 13px;
}

.fa-solid.fa-handshake {
    rotate: -45deg;
}

/* Les pages de menu */

.fa-sharp.fa-solid.fa-arrow-left {
    margin-left: 23px;
}

.div-logo {
    width: 100%;
    text-align: center;
}

.div-menu-background-image {
    width: 100%;
    height: 275px;
    margin-bottom: -60px;
}

.menu-background-image {
    width: 100%;
    height: 275px;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.menu {
    background-color: #F7F7F7;
    border-radius: 40px 40px 0px 0px;
    padding: 15px;
}

.menu .svg-a-la-francaise {
    height: 28px;
    width: 180px;
}

.menu .svg-la-palette-du-gout {
    height: 28px;
    width: 300px;
}

.menu .svg-la-note-enchantee,.svg-le-delice-des-sens {
    height: 28px;
    width: 250px;
}

.titre-resto {
    display: flex;
    padding: 17px 15px 41px 0px;
    justify-content: space-between;
}

.favorit-resto {
    position: relative;
    margin-right: 26px;
}

.div-entrees,.div-plats,.div-desserts {
    padding-bottom: 40px;
}

.entrees h4 {
    font-weight: 300;
    font-size: 16px;
    margin-block: 0;
    padding-bottom: 5px;
}

.entrees {
    width: 40px;
    border-bottom: 3px solid #99E2D0;
    margin-bottom: 15px;
}

.prix {
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: all 0.3s ease-out;
    width: 30px;
    align-items: start;
    padding-bottom: 11px;
    padding-right: 15px;
}

.nourriture-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nourriture-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: var(--background-gris-clair);
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.validation-container {
    width: 0;
    padding-right: 0;
    background-color: #99E2D0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
    border-radius: 0 20px 20px 0;
}

.card2:hover .validation-container {
    width: 59px;
}

.validation-container .fa-sharp.fa-solid.fa-circle-check {
    color: white;
    font-size: 20px;
}

.card2 {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-blanc);
    position: relative;
    width: 100%;
    border-radius: 20px;
}

.card2:hover {
    cursor: pointer;
}

.position-validation-container {
    display: flex;
    flex-direction: row-reverse;
    min-width: 45px;
    transition: all 0.3s ease-out;
}

.card2:hover .position-validation-container {
    min-width: 101px;
}

.fa-sharp.fa-solid.fa-circle-check {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.card2:hover .fa-sharp.fa-solid.fa-circle-check {
    opacity: 1;
}

.toggle {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle:checked ~ .card2 .validation-container {
    width: 59px;
}

.toggle:checked ~ .card2 .position-validation-container {
    min-width: 101px;
}

.toggle:checked ~ .card2 .fa-sharp.fa-solid.fa-circle-check {
    opacity: 1;
}


.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }

  .loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation pour faire disparaître le loader */
    animation: fadeOut 3s forwards;
    animation-fill-mode: forwards;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 9998;
    animation: removeBlur 3s forwards;
    animation-fill-mode: forwards;
}

.item {
    animation-duration: 2s;
    animation-fill-mode: both;
}

.slideFromLeft {
    animation-name: slideFromLeft;
}

.slideFromRight {
    animation-name: slideFromRight;
}

.delay-2s {
    animation-delay: 2s;
}

.delay-3s {
    animation-delay: 3s;
}

.delay-4s {
    animation-delay: 4s;
}

.favorit2 {
    display: flex;
    align-items: center;
    justify-content: end;
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* animation pour faire disparaître le loader */
@keyframes fadeOut {
    90% {
        opacity: 1;
        z-index: 9999;
    }
    to {
        visibility: hidden;
        opacity: 0;
        z-index: -100;
        pointer-events: none;
    }
}

@keyframes removeBlur {
    40% {
        backdrop-filter: blur(10px);
    }
    70% {
        backdrop-filter: blur(0px);
    }
    to {
        backdrop-filter: blur(0px);
        pointer-events: none;
    }
}

  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }  

/* Tablette */
@media (min-width: 768px) {
    .restaurants-card-par-2 {
        flex-direction: row;
    }

    .colonne {
        display: flex;
        flex-direction: row-reverse;
        gap: 3%;
        align-items: center;
        justify-content: end;
    }

    .colonne ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
        white-space: nowrap;
    }
}

/* Ordinateur de bureau */
@media (min-width: 1024px) {

    .restaurants-card {
        min-width: 462px;
    }

    .restaurants-card-par-2 {
        justify-content: center;
        gap: 5%;
    }

    .restaurants {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 1440px;
        margin: 0 auto;
    }

    .restaurants-title {
        justify-content: flex-start;
    }

    .restaurants-container {
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        gap: 6%;
        row-gap: 45px;
    }

    .restaurants-card {
        width: 47%;
    }

    .fonctionnement {
        margin: 0 auto;
    }

    .fonctionnement-container-boss {
        max-width: 1440px;
        margin: 0 auto;
    }

    .fonctionnement-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5%;
    }

    .fonctionnement-card, .nourriture-card {
        flex: 1;
    }

    .etape-text {
        padding-right: 20px;
    }

    .colonne {
        gap: 5%;
    }

    .colonne ul {
        gap: 20px;
    }

    .menu {
        width: 996px;
        margin: auto;
    }

    .nourriture-container {
        justify-content: center;
    }

    .div-entrees, .div-plats, .div-desserts, .titre-resto {
        margin-left: 200px;
        margin-right: 200px;
    }

    .nourriture-card {
        flex: 1;
    }

}
